<form action='/articles' method="post">
  <label for="title">Title:</label>
  <input id="title" type="text" name="title"/>
  
  <label for="content">Content:</label>
  <input id="content" type="text" name="content">
  
  <input type="submit">
</form>