<form action='/articles' method="POST">
  <label for="title">Title:</label>
  <input id="title" type="text" name="title">
  
  <label for="content">Content:</label>
  <input id="content" type="text" name="content">
  
  <input type="submit">
</form>